@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: "Source Sans Pro", sans-serif;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right, #ABDCFF, #0396FF);
}

.first-blocks{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
    .first-blocks-text{
        font-size: 3em;
        color: white;
        text-align: center;
    }

.main-section{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-section{
    width: 50%;
    height: 500px;
}

.block{
    margin: 20px;
    width: 200px;
    height: 200px;
}
    .block-1{
        background-color: rgb(161, 252, 252);
    }
    .block-2{
        background-color: rgb(181, 105, 252);
    }
    .block-3{
        background-color: cornflowerblue;
    }
    .selector{
        text-align: center;
    }
        .selector-number{
            width: 20%;
            margin: 0;
        }
        .selector-button{
            width: 20%;
            padding: 0;
            outline: none;
            border: 1px solid black;
        }
            .selector-button:hover{
                cursor: pointer;
            }
            .selector-button:active{
                background-color: #bebebe;
            }


.first-block-selector{
    margin: 20px;
}