@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: "Source Sans Pro", sans-serif;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right, #ABDCFF, #0396FF);
    min-width: 280px;
}

.first-blocks{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
    .blocks-text{
        font-size: 3em;
        text-align: center;
        color: white;
    }
    .final-blocks-text{
        font-size: 3em;
        color: white;
        text-align: center;
        margin-top: 40px;
    }

.main-section{
    width: 100%;
    min-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}
    .main-section-vertical{
        flex-direction: column;
    }

.sub-section{
    width: 50%;
    margin-top: 20px;
}

.block{
    margin: 20px;
    width: 200px;
    height: 200px;
    box-shadow: 8px 10px 8px rgb(51, 51, 51);
}
    .block-1{
        background-color: #a1fcfc;
    }
    .block-2{
        background-color: #b569fc;
    }
    .block-3{
        background-color: #6090e9;
    }
    .block-4{
        background-color: #83df80;
    }
    .block-5{
        background-color: #69fc8e;
    }
    .block-6{
        background-color: #beee71;
    }
    .block-7{
        background-color: #eeca69;
    }
    .block-8{
        background-color: #e47d76;
    }
    .block-9{
        background-color: #e97f55;
    }
    .selector{
        text-align: center;
    }
        .selector-number{
            width: 20%;
            margin: 0;
            border: none;
        }
        .selector-button{
            width: 20%;
            padding: 0;
            outline: none;
            border: 1px solid rgb(255, 255, 255);
            background-color: #f0f0f0;
        }
            .selector-button:hover{
                cursor: pointer;
            }
            .selector-button:active{
                background-color: #bebebe;
            }


.first-block-selector{
    margin: 20px;
}

.final-block-1, .final-block-2, .final-block-3{
    width: 70px;
    height: 70px;
    margin: 2px;
    box-shadow: 8px 0px 8px rgb(51, 51, 51);
}


@media screen and (max-width: 1200px){  
    .final-block-1, .final-block-2, .final-block-3{
        width: 50px;
        height: 50px;
        margin: 2px;
        box-shadow: 8px 0px 8px rgb(51, 51, 51);
    }
    .blocks-text{
        font-size: 2.5em;
    }
    .final-blocks-text{
        font-size: 2.5em;
        width: 90%;
    }
}

@media screen and (max-width: 600px){  
    .final-block-1, .final-block-2, .final-block-3{
        width: 50px;
        height: 50px;
        margin: 2px;
        box-shadow: 8px 0px 8px rgb(51, 51, 51);
    }
    .blocks-text{
        font-size: 2em;
    }
    .final-blocks-text{
        font-size: 2em;
    }
}

@media screen and (max-width: 400px){  
    .final-block-1, .final-block-2, .final-block-3{
        width: 40px;
        height: 40px;
        margin: 2px;
        box-shadow: 8px 0px 8px rgb(51, 51, 51);
    }
    .blocks-text{
        font-size: 1.8em;
    }
    .final-blocks-text{
        font-size: 1.5em;
    }
}